<html>
  <head>
    <title>Melate</title>
  </head>
  <body>
    <h3>Histograma de la historia del melate</h3>
    <canvas id="myChart" width="1000" height="400"></canvas>
  </body>
  	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.2.0/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</html>